.blog{
    width: 40vw;
    margin: auto;
    margin-top: 20vh;
}

.blog-post {
    height: 50vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--mainBackground); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--mainGreen); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--mainGreen); 
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

.blog-header{
    color: var(--mainWhite);
}

@media only screen and (max-width:767px){
  .blog{
    width: 70vw;
  }
}