.blogpost{
    display: flex;
    align-items: flex-start;
    margin-bottom: 2vh;
}
.blogpost:hover {
    color: var(--mainWhite);
    cursor: pointer;
    transition: color 0.4s ease-in;
}

.title-bp{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.date-bp{
    font-size: 14px;
    font-weight: 400;
    margin-top: 0px;
}
  .blog-icon{
    width: 32px !important;
    height: auto;
    margin-top: 2px;
    margin-right: 2vw;
  }