.blog{
    width: 45vw;
    margin: auto;
    margin-top: 10vh;
}

.blog-post {
    height: 60vh;
    overflow-y: scroll;
}
.blog-post a{
  text-decoration: none;
  color: var(--mainTextGray);
}
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--mainBackground); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--mainGreen); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--mainGreen); 
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

.blog-header{
    color: var(--mainWhite);
}

@media only screen and (max-width:1023px){
  .blog{
    width: 80vw;
  }
}

@media only screen and (max-width:767px){
  .blog{
    width: 70vw;
  }
}