.navbar{
    display: flex;
    align-items: center;
}

.navbar img {
    width: 36px;
}

.navbar-right{
    float: right;
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 18px ;
}
.navbar-right p {
    margin-right: 20px;
    color: var(--mainGreen);
}

.navbar-right a {
    text-decoration: none;
}

.navbar-right p:hover{
    color: var(--mainTextGray);
    transition: color 0.1s ease-in;

}


/* Theme Chahneg Icon Customization */

/* .btn-theme{
    color: var(--mainWhite) !important;
    margin-left: 24px !important;
} */


.navbar-menu{
    width: 20px;
    height:20px;
    display: none;
}

@media only screen and (max-width: 767px) {
    .nav-icon{
        display: none;
    } 
    .navbar-menu{
        display: block;
    }
  }