.navbar{
    display: flex;
    align-items: center;
}

.navbar img {
    width: 100px;
}

.navbar-right{
    float: right;
    display: flex;
    margin-left: auto;
    align-items: center;
    font-size: 18px ;
}
.navbar-right p {
    margin-right: 20px;
    color: var(--mainGreen);
}

.navbar-right a {
    text-decoration: none;
}

.navbar-right p:hover{
    color: var(--mainTextGray);
    transition: color 0.1s ease-in;

}

/* Theme Chahneg Icon Customization */

/* .btn-theme{
    color: var(--mainWhite) !important;
    margin-left: 24px !important;
} */