.projects{
    width: 40vw;
    margin: auto;
    margin-top: 10vh;
    padding-bottom: 4vh;
}

.project-content{
    min-height: 60vh;
    /* overflow-y: scroll; */
}

.projects a{
    color: var(--mainTextGray);
    text-decoration: none;
}
.ind-projects{
    margin-bottom: 15px;
}
.ind-projects:hover{
    color: var(--mainWhite);
    cursor: pointer;
    transition: color 0.4s ease-in;
}
.ip{
    display: flex;
}

.ip p{
    font-size: 20px;
    margin: 0 0 0 15px;
}
.project-icon{
    width: 32px;
    height: auto;
}
.project-desc{
    margin: 0;
    margin-left: 45px;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--mainBackground); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--mainGreen); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--mainGreen); 
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }

  @media only screen and (max-width:1023px){
    .projects{
      width: 80vw;
    }
  }

@media only screen and (max-width: 767px ){
    .projects{
        width: 70vw;
    }
}