.footer{
    /* position: fixed; */
    bottom: 10vh;
    left: 0;
    right: 0;
    background-color: var(--mainBackground);
}

.footer-icons a{
    color: var(--mainGreen);
}

.footer-icons svg:hover{
    color: var(--mainTextGray);
    transition: color 0.1s ease-in;

}

.footer-icons svg {
    margin-right: 20px;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:45vw;
    margin: auto;
    margin-top: 16px;
}

@media only screen and (max-width:1023px){
    .footer-line{
      width: 70vw !important;
    }
    .footer-content{
        width: 70vw;
    }
  }

/* Mobile responsive */
@media only screen and (max-width: 767px) {
    .footer-line{
        width: 80vw !important;
    }
    .footer-content{
        width: 80%;
        padding: 0 10px;
        box-sizing: border-box;
    }
  }