:root {
  --mainBackground: #000E0C;
  --mainWhite: #E7F5F4;
  --mainTextGray: #ACB1B1;
  --mainGreen:#006057;

}
body {
  margin: 0;
  background-color: var(--mainBackground);
  color: var(--mainTextGray);
  font-family: 'PT Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  margin: auto;
}

code {
  font-family: 'PT Mono', monospace;
}

@media only screen and (max-width: 767px) {
  body{
    width: 100%;
  }  
}

/* first snowflake animation */

.child1{
  transition: transform 1s linear;
  width: 120px;
  animation: movement 5s ease-in 1;
  animation-fill-mode: forwards;

}

@keyframes movement {
  0%{
    width:50px;
    transform: translateY(0) translateX(0);
  }
  33%{
    width: 70px;
  }
  66%{
    width: 90px;
  }
  100%{
    width: 110px;
    transform: translateY(70vh) translateX(35vw) rotate(270deg);
    animation-play-state: paused;
  }
}


/* Second snowflake animation */


.child2{
  transition: transform 1s linear;
  width: 100px;
  animation: movement2 5s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes movement2 {
  0%{
    width:30px;
    transform: translateY(0) translateX(50vw);
  }
  33%{
    width: 60px;
  }
  66%{
    width: 90px;
  }
  100%{
    width: 120px;
    transform: translateY(70vh) translateX(45vw) rotate(270deg);
    animation-play-state: paused;
  }
}